.titulo-principal{
    padding: 30px;
    display: flex;
    background: #CCCCCC;
    justify-content: center;
    width: 100%;
}

.enlaces{
    background-color: #CCCCCC;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.enlaces ul{
    color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlaces ul li{
    margin: 15px;
    list-style-type: none; 
}
*body{
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#banner{
    width: 100%;
    justify-content: center;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:rgb(24, 23, 23);
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}
.lista{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    list-style-type: none;
}
.items{
    
    font-size: 20px;
    margin: 15px;
}

.imagenDiferenciales{
    width: 50%;
}

